* {
	margin: 0;
	padding: 0;
	
}
 

 body {
	background:#e9e9e9;
}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:2000px;
	margin:auto; /*Para centrar el documento y que quede a igual distancia un lado del otro*/

	/*Flexbox para todo el documento*/
	display:flex;
	flex-direction: row; 
	flex-wrap: wrap;
	
 }

header {
	background:#2c3e50;
	width:100%;
	padding:10px;

 
	/* Flex padre de los elementos dentro del header
		en este caso tenemos .logo , nav */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}


header .logo {

	color:#fff;
	font-size: 30px;
}

header .logo img {
	width: 100px; /*<<<<<< aqui es donde defino el width 
					de solo la imagen, que afecta al header en general*/
	vertical-align: top;
}

header .logo a {
	color: #fff;
	text-decoration: none;
	line-height: 75px;

}

header nav {
	width: 50%;
	
	/* Flex padre de los elementos adentro del nav */
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background-color: #c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;

	/*Flex hijo del contenedor*/
	flex-grow:1; 	/* con esta propiedad hago que se ocupe todo el 
					espacio del nav y que se centren los elementos, al
					ser un hijo del nav que es "flex" , puedo utilizar 
					esta propiedad*/
	

}

.main {

	background-color:#fff;
	padding:20px;
	flex: 1 1 60%; /* grow, shring, basis */
}

article {
	font-family: arial;

}

aside {
	background:#e67e22;
	padding:20px;
	/*Flex hijo del contenedor*/
	flex: 1 1 30%;
	
	/*Flex de todo el aside */
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
	


}

aside .widget {
	background: #d35400;
	height: 150px;
	margin: 10px;
}

footer{


	background: #2c3e50;
	width: 100%;
	padding: 20px;

	/*Flex es hijo del flex "contenedor" pero a su vez es padre para .links y para .social */
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background: #c0392b;
	/*Flex para dar un orden a los links dentro de si mismo, ocupamos flex*/
	display:flex;
	flex-wrap:wrap;
}

footer .links a{
	/*Flex hijo, para ordenar y dar un ancho a los items (links:a) dentro de este*/
	flex-grow:1;
	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
	
}


footer .social {
	background: #e67e22;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display:inline-block; /*Al no ser la clase social flex
							no podemos alinear esta caja, por eso ocupamos
							display:inline-block*/
}